<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graduation.whatziroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="79704877b631039ffafc66b405447499"/>

        <activity android:name=".activity.base.BaseActivity"/>
        <activity android:name=".activity.base.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.room.SearchPlaceActivity"/>
        <activity android:name=".activity.login.LoginActivity"/>
        <activity android:name=".activity.room.RoomNoSchedule"/>
        <activity android:name=".activity.room.RoomSettingActivity"/>
        <activity android:name=".activity.login.SignUpActivity"/>
        <activity android:name=".activity.room.RoomViewPager"/>
        <activity android:name=".activity.main.ProfilUpdateActivity"/>
        <activity android:name=".activity.main.ProfilUserSettingActivity"/>
        <activity android:name=".activity.room.RegisterSchedule"/>
        <activity android:name=".activity.main.MainViewPager"/>



    </application>

</manifest>